*
{
    padding: 0;
    margin: 0;
    
    /* border: solid;
    border-width: 1px; */
}

/* PAGELOAD.JS CSS STYLE */

body
{
    /* General properties */
    background-color: rgb(255, 255, 255);

    /* Flex properties */
    display: flex;
    justify-content: center;
    align-items: center;
}

#content
{
    /* General properties */
    min-width: 500px;
    width: 1000px;

    /* Border properties */
    border-style: solid;
    border-width: 5px;  
}

.header
{
    /* General properties */
    width: auto;
    height: auto;
    background-color: rgb(229, 250, 253);;

    /* Flex properties */
    display: grid;
    grid-template-columns: 175px auto;
    grid-template-rows: 1fr;

    /* Border properties */
    border-bottom-style: solid;
    border-width: 5px;
}

.headerText
{
    /* General properties */
    width: 100%;
    height: auto;
    font-size: 75px;
    padding-top: 30px;

    /* Parent flex properties */
    grid-column: 2/-1;
    grid-row: 1/-1;

    /* Text properties */
    color: rgb(80, 80, 80);
    text-align: start;
}

.headerLogo
{
    /* General properties */
    width: 175px;
    height: 150px;

    /* Background properties */
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
    /* Image citation */
    /* Image by <a href="https://pixabay.com/users/janjf93-3084263/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1976107">Jan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1976107">Pixabay</a> */
    background-image: url('./headerLogo.png');

    /* Parent flex properties */
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.midContainer
{
    /* General properties */
    width: auto;
    height: auto;
    background-color: rgb(141, 190, 197);

    /* Flex properties */
    display: flex;
}

.sidebar
{
    /* General properties */
    width: 125px;
    height: auto;
    padding: 25px;
    background-color: rgb(180, 211, 216);

    /* Border properties */
    border-right-style: solid;
    border-width: 2px;
}

.sidebarButtons
{
    /* Flex properties */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeButton, .menuButton, .contactButton
{
    /* General properties */
    height: 50px;

    /* Text properties */
    font-size: 30px;
}

.midContent
{
    /* General properties */
    padding: 25px;
    
    /* Parent flex properties */
    flex: 1;

    /* Sub Flex properties */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* HOMELOAD.JS CSS STYLES */
.homeHeader
{
    /* General properties */
    height: 40px;
    padding-top: 10px;
    
    /* Text properties */
    font-size: 25px;
    text-align: center;
    background-color: white;

    /* Border properties */
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.pizzaSpaceImg
{
    /* General properties */
    width: 700px;
    height: 400px;
    align-self: center;

    /* Background properties */
    background-position: center;
    background-size: 100%;
    background-repeat:no-repeat;
    background-color: white;
    /* Image citation */
    /* Image by <a href="https://pixabay.com/users/publicdomainimages-327722/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=386717">PublicDomainImages</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=386717">Pixabay</a> */
    background-image: url('./pizzaImg01.jpg');

    /* Border properties */
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}



/* MENULOAD.JS & CONTACTLOAD.JS CSS STYLES */
.menuHeader, .contactHeader
{
    /* General properties */
    height: 40px;
    padding: 5px;

    /* Text properties */
    font-size: 35px;
    text-align: center;
    background-color: white;

    /* Border properties */
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

.pizzaContainer, .menuTypeContainer, .catagoryContainer
{
    /* General properties */
    padding-left: 20px;
    padding-right: 20px;

    /* Flex properties */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizzaHeader, .menuTypeHeader, .catagoryHeader
{
    /* Text properties */
    font-size: 30px;
    text-align: center;
    background-color: white;

    /* Border properties */
    border-style: solid;
    border-width: 2px;
}

.pizzaTypes, .itemTypes
{
    /* General properties */
    padding: 10px 20px 10px 20px;

    /* Flex properties */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizza, .items
{
    /* General properties */
    width: auto;
    height: 100px;

    /* Flex properties */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pizzaTitle, .itemTitle
{
    /* General properties */
    width: auto;
    padding: 1px;
    background-color: whitesmoke;
    
    /* Text properties */
    text-align: center;
    font-size: 22px;

    /* Border properties */
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;

    /* Parent flex properties */
}

.pizzaText, .itemText, .catagoryText
{
    /* General properties */
    width: auto;
    height: 100%;

    /* Text properties */
    font-size: 20px;
    text-align: center;

    /* Border properties */
    border-bottom-style: solid;
}

